PORT=5000
MONGO_URI= mongodb+srv://vivek:your_mongo_password@cluster0.5gjl9bd.mongodb.net/?appName=Cluster0

#email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_smtp_user@mail.com
SMTP_PASS=your_smtp_password

REDIS_URI=rediss://default:your_redis_password@your_redis_host:6379
FRONTEND_URL=http://localhost:5173


JWT_SECRET=your_jwt_secret_key
REFRESH_SECRET=your_refresh_secret_key
